.vscode/
.idea/
/custom/

# Exclude large/unwanted directories and files
/kr3-desktop/assets/
/BACKUP/
*.docx
/Z_FL803_VietHoa_SoupOfJustice_ToanBo
/Z_FL803_InfiniteHero_SoupOfJustice_ThuNghiem
/FONT_LICENSES
[zZ]*